# Strings, Listas y Tuplas

## Introducción a las estructuras de datos

En Python, sabemos que podemos almacenar un dato en una variable. Pero que es lo que pasa si tenemos múltiples datos que queremos almacenar, para ellos podemos usar distintas **estructuras de datos** que nos proporciona Python. 

--- pilas colas estructuras lineales

## Definición y manipulación de strings

En el primer módulo vimos que los *strings* es una cadena de caracteres donde podemos almacenar texto. En general, podemos almacenar cualquier tipo de caracter del código [ascii](https://elcodigoascii.com.ar):

Veamos de qué formas se pueden utilizar los strings:

In [1]:
# Para indicar que la variable es del tipo string, ponemos el valor en comillas ('') o doble comillas ("")
first_name = 'Mario'
last_name = "Rosales"

print(type(first_name))
print(type(last_name))

print(first_name)
print(last_name)

<class 'str'>
<class 'str'>
Mario
Rosales

Cuando usamos el operador `+` en cadenas, las cadenas se concaternarán:

In [2]:
full_name = first_name + ' ' + last_name
print('Mi nombre es: ' + full_name)

Mi nombre es: Mario Rosales

Podemos acceder a los caracteres de la cadena, de la siguiente manera:

In [3]:
print(first_name[0])    # Accede al primer caracter desde la izquierda
print(first_name[1])    # Accede al segundo caracter desde la izquierda

# NOTA: El primer caracter está en la posición 0, no en la posición 1

M
a

In [5]:
# "Mario"
print(first_name[-1])   # Accede al caracter de última posición
print(first_name[-2])   # Accede al caracter de penúltima posición

o
i

Podemos usar la sentencia `in` para determinar si un caracter se encuentra o no en la cadena:

In [6]:
'a' in 'Mario'

True

In [7]:
'c' in 'Mario'

False

In [10]:
if 'a' in first_name:
    print('Mi primer nombre contiene la letra a')

Mi primer nombre contiene la letra a

Ahora veremos dos maneras de iterar sobre los caracteres de un string.

**Por índice:**

In [13]:
first_name = 'Mario'
#print(len(first_name))

# len(first_name) : cantidad de caracteres que tiene la cadena

for i in range(len(first_name)):
    print(first_name[i])

M
a
r
i
o

**Los strings son objetos iterables:**

In [11]:
for c in first_name:
    print(c)

M
a
r
i
o

## Comparación de cadenas

La comparación de dos cadenas es según su orden *lexicográfico*, es decir, el mismo que en el diccionario. Supongamos que dos cadenas se encuentran escritas en el diccionario, aquella que aparezca primera, será menor que la otra cadena. 

Podemos definir el orden *lexicográfico* en dos reglas. Dada dos cadenas $s$ y $t$, la cadena $s$ será menor lexicográficamente que la cadena $t$ si y solo si:

1. $s$ es prefijo de $t$.
    
    Por ejemplo:
    
    $s$ = 'para' $\rightarrow$ $t$ = 'paraguas'
    
    $s$ = 'abc' $\rightarrow$ $t$ = 'abcdef'

2. En la primera posición, desde la izquierda, donde $s$ y $t$ difieren, el carácter de $s$ es menor al de $t$.

    Por ejemplo:

    $s$ = 'carrito' $\rightarrow$ $t$ = 'carroza'

    $s$ = 'abcde' $\rightarrow$ $t$ = 'abcz'

    $s$ = 'ardilla' $\rightarrow$ $t$ = 'elefante'

In [14]:
s = 'para'
t = 'paraguas'

s < t

True

In [15]:
'abc' < 'abcdef'

True

In [18]:
'carrito' < 'carroza'

True

In [19]:
'abcde' < 'abcz'

True

In [20]:
'ardilla' < 'elefante'

True

Ahora ya sabemos cómo comparar cadenas, pero solo cadenas que contienen letras. ¿Qué sucede si comparamos cadenas que no solo consisten en letras, sino en cualquier tipo de caracter?

Veamos algunos ejemplos:

In [21]:
# Comparación de dos letras

'a' < 'z'

True

In [22]:
'a' < '('

False

In [23]:
'a' < '{'

True

In [24]:
'a' < '0'

False

Vemos que la comparación entre el caracter `a` y caracteres como paréntesis, llaves o números nos retornan resultados. ¿Acaso estos resultados tienen algún sentido? Pues sí. Python, y la mayoría de lenguajes de programación, siguen el orden de la tabla ascii:

<center><img src='../Images/ASCII table.jpg' width=1000/></center>

Cada caracter tiene asociado un valor numérico. Un **caracter será menor que otro**, si su **valor numérico en la tabla ascii es menor**.

Podemos obtener el valor numérico de un caracter con la función `ord()`:

In [25]:
ord('a')

97

In [26]:
ord('$')

36

Y podemos aplicar la operación inversa, convertir un valor numérico a un caracter con `chr()`:

In [30]:
chr(97)

'a'

In [ ]:
chr(36)

In [31]:
str(36)

'36'

Algo importante a resaltar de la tabla ascii, es que los caracteres de los números y las letras del abecedario están contiguas y en orden. Con esto, podríamos imprimir todo el abecedario:

In [32]:
a_value = ord('a')
z_value = ord('z')

# Iteramos desde el valor de 'a' hasta el valor de 'z'
for i in range(a_value, z_value+1):
    # Imprimimos el caracter
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [33]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
string = "escuela it"
print(string.upper())
print(string.capitalize())
print(string.title())
string = "123"
print(string.isalpha())
print(string.isalnum())
print(string.isdigit())

ESCUELA IT
Escuela it
Escuela It
False
True
True